spring:
  application:
    name: ProductsMicroservice

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      retry:
        backoff:
          ms: 100
      linger-ms: 10
      batch-size: 16384
      compression-type: snappy
      properties:
        enable.idempotence: true
        delivery.timeout.ms: 120000
        request.timeout.ms: 30000
        max.in.flight.requests.per.connection: 5

server:
  port: 8080